.renee-picture {
  width: 250px;
  height: 250px;
  background: url("/renee_char.png");
  background-size: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.contact-options {
  list-style-type: none;
}

.contact-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#contact {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 100px;
  h1 {
    width:100%;
  }
}

.social-media {
  width: 100%;
  margin-bottom: 40px;
}
