.greeting-appear {
  opacity: 0.01;
}

.greeting-appear.greeting-appear-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

#greeting {
  text-align: center;
  margin: 0 auto 50px;

}

@media (max-width: 500px) {
  section {
    padding-top: 20px;
  }
}